<div class="footer bg-footer pt-14 pl-16">
    <div class="flex md:flex-row flex-col lg:gap-48 md:gap-24 gap-12">
        <div class="column1 flex-col flex md:block hidden">
            <p class="text-white font-bold text-2xl">ORCANIA</p>
            <p class="text-[#D6E9FF] mt-3">@CopyRight Orcania All Rights Reserved</p>
        </div>
        <div class="column2 text-[#D6E9FF] flex-col flex">
            <p class="text-white font-bold text-2xl">Navigation</p>
            <a class="mt-3" (click)="scrollTo('home')">Home</a>
            <a class="mt-1" (click)="scrollTo('about')">About Us</a>
            <a class="mt-1" (click)="scrollTo('portfolio')">Portfolio</a>
            <a class="mt-1" (click)="scrollTo('contact')">Contact Us</a>
        </div>
        <div class="column3 text-[#D6E9FF] flex-col flex">
            <p class="text-white font-bold text-2xl">Contact</p>
            <a class="mt-3">Email</a>
            <a class="mt-1">Phone</a>
        </div>
    </div>
    <div class="flex flex-col">
        <div class="md:flex-col flex gap-7 items-end mr-12 md:order-first order-2 pb-12">
            <a>
                <img src="/assets/socials/twitter.svg" />
            </a>
            <a>
                <img src="/assets/socials/linkedin.svg" />
            </a>
        </div>
        <div class="flex pt-12 md:pt-0 pb-12">
            <img src="/assets/location.svg" />
            <a class="text-[#0C8CE9] border-b-2 border-b-[#0C8CE9]">Dubai Silicon Oasis</a>
        </div>
    </div>
    <div class="column1 flex-col flex md:hidden pb-12 pt-20">
        <p class="text-white font-bold text-2xl">ORCANIA</p>
        <p class="text-[#D6E9FF] mt-3">@CopyRight Orcania All Rights Reserved</p>
    </div>
</div>

