.bg-rectangle1{
    background-image: url('/assets/bg-images/rectangle.png');
    background-size: 1200px 300px;
    background-repeat: no-repeat;
    background-position: 0px -20px;
}

.bg-ape{
    background-image: url('/assets/bg-images/red-ape.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-rectangle2{
    background-image: url('/assets/bg-images/rectangle2.png');
    background-size: 1000px 300px;
    background-repeat: no-repeat;
    background-position: right;
}