<div class="lg:translate-y-[-140px] md:translate-y-0 translate-y-[-140px] lg: mb-0 md:mb-24" #frameContact>
    <div class="text-center font-bold">
        <p class="text-[#0C8CE9] text-sm">TRUSTED BY MILLIONS</p>
        <p class="text-[32px] sm:px-0 px-12">What do they say about us?</p>
    </div>

    <section class="container mx-auto relative flex justify-center items-center gap-12 mt-8">
         <!-- first column -->

        <div class="col1 flex flex-col items-center text-[#696E72] gap-7 sm:mx-0 mx-5">
            <div class="box md:w-[362px] bg-[#F7F9FB] p-5">
                <div class="flex gap-3">
                    <div class="bg-[#DBE6F0] w-[50px] h-[50px] rounded">
                    </div>
                    <div>
                        <p class="title">John Smith</p>
                        <p class="subtitle text-[#BDC8D0]">CEO Company</p>
                    </div>
                </div>
                <p class="mt-4">
                    End-to-end blockchain solutions, encompassing consultation, design, and implementation.
                </p>
            </div>
            <div class="box md:w-[362px] bg-[#F7F9FB] p-5">
                <div class="flex gap-3">
                    <div class="bg-[#DBE6F0] w-[50px] h-[50px] rounded">
                    </div>
                    <div>
                        <p class="title">John Smith</p>
                        <p class="subtitle text-[#BDC8D0]">CEO Company</p>
                    </div>
                </div>
                <p class="mt-4">
                    End-to-end blockchain solutions, encompassing consultation, design, and implementation.
                </p>
            </div>
            <div class="box md:w-[362px] bg-[#F7F9FB] p-5">
                <div class="flex gap-3">
                    <div class="bg-[#DBE6F0] w-[50px] h-[50px] rounded">
                    </div>
                    <div>
                        <p class="title">John Smith</p>
                        <p class="subtitle text-[#BDC8D0]">CEO Company</p>
                    </div>
                </div>
                <p class="mt-4">
                    End-to-end blockchain solutions, encompassing consultation, design, and implementation.
                </p>
            </div>
        </div>
    
        <!-- second column -->
    
        <div class="col2 flex-col text-[#696E72] gap-7 md:flex hidden">
            <div class="box w-[362px] bg-[#F7F9FB] p-5 xl:pb-12 xl:mt-7">
                <div class="flex gap-3">
                    <div class="bg-[#DBE6F0] w-[50px] h-[50px] rounded">
                    </div>
                    <div>
                        <p class="title">John Smith</p>
                        <p class="subtitle text-[#BDC8D0]">CEO Company</p>
                    </div>
                </div>
                <p class="mt-4">
                    End-to-end blockchain solutions, encompassing consultation, design, and implementation.
                </p>
            </div>
            <div class="box w-[362px] bg-[#F7F9FB] p-5">
                <div class="flex gap-3">
                    <div class="bg-[#DBE6F0] w-[50px] h-[50px] rounded">
                    </div>
                    <div>
                        <p class="title">John Smith</p>
                        <p class="subtitle text-[#BDC8D0]">CEO Company</p>
                    </div>
                </div>
                <p class="mt-4">
                    End-to-end blockchain solutions, encompassing consultation, design, and implementation.
                </p>
            </div>
            <div class="box w-[362px] bg-[#F7F9FB] p-5">
                <div class="flex gap-3">
                    <div class="bg-[#DBE6F0] w-[50px] h-[50px] rounded">
                    </div>
                    <div>
                        <p class="title">John Smith</p>
                        <p class="subtitle text-[#BDC8D0]">CEO Company</p>
                    </div>
                </div>
                <p class="mt-4">
                    End-to-end blockchain solutions, encompassing consultation, design, and implementation.
                </p>
            </div>
        </div>
    
        <!-- third column -->
    
        <div class="col3 flex-col gap-7 text-[#696E72] xl:flex hidden">
            <div class="box w-[362px] bg-[#F7F9FB] p-5">
                <div class="flex gap-3">
                    <div class="bg-[#DBE6F0] w-[50px] h-[50px] rounded">
                    </div>
                    <div>
                        <p class="title">John Smith</p>
                        <p class="subtitle text-[#BDC8D0]">CEO Company</p>
                    </div>
                </div>
                <p class="mt-4">
                    End-to-end blockchain solutions, encompassing consultation, design, and implementation.
                </p>
            </div>
            <div class="box w-[362px] bg-[#F7F9FB] p-5">
                <div class="flex gap-3">
                    <div class="bg-[#DBE6F0] w-[50px] h-[50px] rounded">
                    </div>
                    <div>
                        <p class="title">John Smith</p>
                        <p class="subtitle text-[#BDC8D0]">CEO Company</p>
                    </div>
                </div>
                <p class="mt-4">
                    End-to-end blockchain solutions, encompassing consultation, design, and implementation.
                </p>
            </div>
            <div class="box w-[362px] bg-[#F7F9FB] p-5">
                <div class="flex gap-3">
                    <div class="bg-[#DBE6F0] w-[50px] h-[50px] rounded">
                    </div>
                    <div>
                        <p class="title">John Smith</p>
                        <p class="subtitle text-[#BDC8D0]">CEO Company</p>
                    </div>
                </div>
                <p class="mt-4">
                    End-to-end blockchain solutions, encompassing consultation, design, and implementation.
                </p>
            </div>
        </div>
    </section>

    <section class="sm:container mt-24 xl:w-[1200px] md:w-[750px] sm:mx-auto mx-5">
        <div class="contact flex justify-between border-2 border-[#E7E7E7] rounded xl:max-h-[300px] max-h-[340px] bg-matrix">
            <div class="md:p-8 p-4">
                <p class="text-sm text-[#0C8CE9] font-bold">LET S DO IT</p>
                <p class="text-[32px] font-bold md:block hidden">What are you waiting for ?</p>
                <p class="text-[32px] font-bold md:hidden">
                    What are you
                </p>
                <p class="text-[32px] font-bold md:hidden translate-y-[-10px]">
                    waiting for ?
                </p>
                <p>
                    Book a call now and let's bring your
                    <br />
                    business to life
                </p>
                <div class="buttons flex gap-5 mt-16">
                    <button class="rounded-3xl bg-[#0C8CE9] text-white py-3 w-[150px] ripple">
                        Book a Call
                    </button>
                    <button class="rounded-3xl border-2 bg-white border-[#E7E7E7] py-3 w-[150px] ripple">
                        Contact Us
                    </button>
                </div>
            </div>
            <div class="translate lg:block hidden">
                <img src="/assets/calendar.png" />
            </div>
        </div>
    </section>
</div>
